<input type="file" id="selectedFile" style="display: none;"
       (change)="onFileSelected($event)">
<div class="nav">
      <a class="navbar-brand">
        <img src="./assets/logo.png" height="60" alt="logo" >
      </a>
  <div class="button">
    <a style="margin-right: 10px">
      <button (click)="onImportDonne()">Export</button>
    </a>
    <a style="margin-right: 10px">
      <button (click)="getFiles()">Importer</button>
    </a>
    <a style="margin-right: 10px">
      <button (click)="openDialog1()">Enregistre</button>
    </a>
  </div>

</div>
<!--
<mat-dialog-content *ngIf="showDialog">
  <h2 mat-dialog-title>Enregistre file</h2>
  <mat-dialog-content>
    <input type="text" placeholder="Nom" [(ngModel)]="nom">
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="closeDialog()">No</button>
    <button mat-button mat-dialog-close (click)="onDownloadExcelClick()">Ok</button>
  </mat-dialog-actions>
</mat-dialog-content>-->

